.swiper-item {
  white-space: nowrap;
  padding: 1px 12px;
  border: 1px solid #ededed;
  border-radius: 95px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.q-chip {
  height: 1em;
  background: #fff !important;
  color: #616161 !important;
  border: 1px solid #bdbdbd;
}

.q-chip--selected {
  background: var(--q-primary) !important;
  color: #fff !important;
}
.line-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
  color: var(--q-primary);
  background-color: rgba(246, 246, 247, 1);
  padding: 10px;
  border-radius: 5px;
}

.line-item-selected {
  background: var(--q-primary) !important;
  color: #fff !important;
}
